MONGODB_URI=your-mongodb-connection-string
MONGODB_DB_NAME=skillsphere

BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

BETTER_AUTH_API_KEY=your-better-auth-infrastructure-api-key
# BETTER_AUTH_API_URL=
# BETTER_AUTH_KV_URL=

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
